body {
    font-family: Arial, sans-serif;
    background-color: #d865a6ff;
    color: #333;
    margin: 20px;
}

h1 {
    color: darkpink;
}

h2 {
    color: pink;
}

section {
    background-color: #e85190ff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
